.App {
  width: 430px;
  height: 300px;
  padding: 60px 35px 35px 35px;
  border-radius: 10px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  margin-top: 200px;
  margin-left: 700px;
  text-align: center;
}

input {
  font-family: "Calibri";
  font-size: 20px;
  margin-top: 50px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 60%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background: #4e9ee8;
  color: #ecf0f3;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: 0.5s;
  margin-top: 50px;
  margin-left: 0;
}

button:hover {
  background: #136bbd;
}


